.category-container {
    margin: 20px;
  }
  
  .manage-heading {
    font-weight: bold; /* Make the heading bold */
    font-size: 28px; /* Increase font size */
  }

  .add-button {
    margin-bottom: 10px;
    padding: 8px 16px; /* Increase padding for larger size */
    background-color: #0274ed; /* Add background color */
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px; /* Increase font size */
  }

  .category-item {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fde7ff; /* Light blue background */
  }
  
  .category-item input[type="text"] {
    margin-right: 10px;
  }
  
  .category-item button {
    margin-left: 10px;
    padding: 4px 12px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .category-item button:hover {
    background-color: #0056b3;
  }

  .category-item button.delete-button {
    margin-left: 10px;
    cursor: pointer;
    background-color: rgb(235, 86, 86); /* Change background color to red */
    color: #fff;
    border: none;
    border-radius: 5px;
  }

  .category-item button.delete-button:hover {
    background-color: #ff0000; /* Darker shade of red on hover */
  }