.menu-container1 {
    margin: 20px;
  }

  .menu-heading1 {
    font-weight: bold; /* Make the heading bold */
    font-size: 28px; /* Increase font size */
  }
  
  .add-button1 {
    margin-bottom: 10px;
    padding: 8px 16px; /* Increase padding for larger size */
    background-color: #0274ed; /* Add background color */
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px; /* Increase font size */
  }
  
  .add-button:hover {
    background-color: #0056b3; /* Darker shade of blue on hover */
  }
  
  .menu-list1 {
    list-style: none;
    padding: 0;
  }
  
  .menu-item1 {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #d8e9f7; /* Light blue background */
  }
  
  .item-name1 {
    font-weight: bold;
  }
  
  .item-description {
    font-style: italic;
  }
  
  .item-price {
    font-weight: bold;
    color: green;
  }
  
  .item-category1 {
    margin-left: 10px;
    font-style: italic;
  }
  
  .item-field1 {
    margin-top: 5px;
    font-size: 0.9em;
    color: #555;
  }
  
  .edit-button1,
  .delete-button1 {
    margin-left: 10px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
  }
  
  .edit-button1:hover,
  .delete-button1:hover {
    background-color: #0056b3;
  }

  .delete-button1 {
    margin-left: 10px;
    cursor: pointer;
    background-color: red; /* Change background color to red */
    color: #fff;
    border: none;
    border-radius: 5px;
  }
  
  .delete-button1:hover {
    background-color: #ff0000; /* Darker shade of red on hover */
  }